body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
color: white
}
/* .top-banner{
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    color: white;
    text-align: center;
    line-break: auto;
    padding:auto 0;
} */
.top-banner h1{
    
    color: white;
    margin-top: 0;
}
.big-font{
    font-size: 52px;
}
.button a{
    text-decoration: none;
    background-color: tomato;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    
}
.container{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.top-banner{
   
    background-image: url(./images/donation7.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    
}
h1{
  
    margin-bottom: 20px;
}
p {
    margin-bottom: 20px;
}
.donate-now{
    color: grey;
    
}
.flexible-item{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.for-3{
    justify-content: space-around;
    padding: 0 25%;
}
.other-amount{
    background-color: #6969691a;
    padding:15px 25px; 
}
.select{
    background-color:rgba(255, 99, 71, 0.2);
    padding:15px 25px; 
    color: tomato;
    border: 2px solid tomato;
    border-radius: 5px;
} 
.donate-input input{
    border: none;
    
    font-size: 18px;
    text-align: center;
    color: #bbb;
    border-bottom: 1px solid #bbb;
    margin-bottom: 20px;
}

.black-color{
color: black;
}
.donate-now p{
    font-size: large;
} 
.donate-plan{
    color: grey;
}
.plans{
    height: 250px;
    text-align: left;
    margin: 10px;
    padding: 30px 20px;
    border-radius: 10px ;
    }
.plan-1{
    background-color: #f5ece4;
}
.plan-2{
     background-color: #fff6de;
}
.plan-3{
    background-color: #e9edc9;
} 
